*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*.swp
*.bcf
*.run.xml
biblatex-software/
english-software.lbx
french-software.lbx
software-biblatex.sty
software.bbx
software.dbx
_minted-*
cortext.bib
